
    *{
        margin:0;
        box-sizing:border-box
    }
    #wrapper{
        border: .5remm solid blue;
    }
    form{
        border: .3rem solid skyblue;
        width:70%;
        margin: 0 auto;
    }
